<!-- <h1>Sny-door</h1>
<p> What's up baby?</p> -->
<div class ="span5 offset8 text-center stolen-surfbox">

	<h1 class ="custom-font1 custom-h1"> Hello I'm Pratik! </h1>
	<br/>
	<h2 class ="custom-font2"> I'm having a lot of fun remaking the Firehose App</h2>
	<br/>
	<%= link_to "Launch App", new_pic_path, :class =>'btn btn-large btn-warning' %>


</div>

